@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #e5e6e8;
    overflow: hidden;
    transition: 0.5s;
}
body.active
{
    background-color: rgb(25, 24, 24);
}
.container{
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.Logo{
    height: auto;
    display: flex;
    cursor: pointer;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover{
    color: lightskyblue;

}

.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
 display: flex;
 width: 150%;
 height: 100vh;
 justify-content:flex-start;
 align-items: center;
 padding: 0 10%;
 overflow: hidden;
 background-image: url(images/cover2.1.png); 
 background-position: center;
}
.cols{
    width: 50%; 
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 1px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: lightskyblue;
}
h1{
   display: block;
   font-size: 7em; 
   font-weight: 900;
   color: #3d535f;
}
.multitext{
    color: lightskyblue;
    text-transform: capitalize;
}
p{
    display: block;
    width: 80%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 200%;
    position: relative;
    left: 10px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 5px 14px;
    margin: 30px 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 20px rgba(0,0,0,0.4);
}
button:hover{
    background-color: cornflowerblue;
}
.cols0{
  z-index: 5 ;  

}

#toggle
{
    top: 15px;
    position:relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px  rgba(0,0,0,0.1),
                inset 0 -4px 4px  rgba(0,0,0,0.1);
}
#toggle.active
{
    background: #222;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px  rgba(0,0,0,0.1),
                inset 0 -4px 4px  rgba(0,0,0,0.05),
}           
#toggle .indicator
{
 position: absolute;
 top: 0px;
 left: 0px;
 width: 40px;
 height: 40px;
 background: linear-gradient(to bottom,#444,#222);
 border-radius: 50%;
 transform: scale(0.9);
 box-shadow: 0 8px 40px rgba(0,0,0,0.5),
             inset 0 4px 4px rgba(255,255,255,0.2),
             inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
}
#toggle.active .indicator
{
   Left: 40px;
   background: linear-gradient(to bottom,#eaeaea,#f9f9f9);
   box-shadow: 0 20px 40px rgba(0,0,0,0.1),
             inset 0 4px 4px rgba(255,255,255,1),
             inset 0 -4px 4px rgba(255,255,255,1); 
}



